 @font-face {
  font-family: 'FontAwesome';
  src: url('font/fonts/fontawesome-webfont.ttf');
  font-weight: normal;
  font-style: normal;
 }
 html{
	position:relative;	 
 }
body,html{
	margin:0;
	padding:0;
	background-color:#000;
	font-family: 'FontAwesome';
	width: 100%;
	height: 100%;
}
#container{
	max-width: 1243px;
    max-height: 591px;	
	min-width: 1243px;
    min-height: 591px;
    width: 100%;
    height: 100%;
	position:relative;    
	top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
canvas{
	background-color:rgba(0,0,0,1);
    box-shadow: 1px 1px 5px 1px rgba(15,15,15,1);
	max-width: 1243px;
    max-height: 591px;	
	min-width: 1243px;
    min-height: 591px;
	margin:auto;
    border: 1px solid rgba(15, 15, 15, 0.2);
	-webkit-transition: all 1s ease-in;
	transition: all 1s ease-in;
}
canvas#Cloud {
	background-color:rgba(0,0,0,0);
    position: absolute;
    top: 0;
}
#jouet{
    position: absolute;
	top:0;
	/*animation: Move 10s linear infinite;
	-webkit-animation: Move 10s linear infinite;
	-moz-animation: Move 10s linear infinite;*/
}
div#night {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(15,15,15,.2);
    z-index: 55;
}
b {
    letter-spacing: -0.5px;
    text-transform: uppercase;
}
#imgJ2{
	position:absolute;
    width: 50px;
	transform:scaleX(-1);
	display:none;
}
#imgJ1{
	position:absolute;
    width: 50px;
	height: 60px;
}
.fleche {
    position: absolute;
    width: 100px;
    bottom: 0;
    background: rgba(15,15,15,1);
    z-index: 16;
}
.fleche:hover{
    background: rgba(235,235,235,.3);
}
div#text-bottom {
    position: absolute;
    bottom: 3px;
    text-align: center;
    height: 40px;
    width: 100%;
    color: white;
    z-index: 11;
    text-shadow: 0px 1px 0px #c7c8ca, 0px 2px 0px #b1b3b6, 0px 3px 0px #9d9fa2, 0px 4px 0px #8a8c8e, 0px 5px 0px #77787b, 0px 6px 0px #636466, 0px 7px 0px #4d4d4f, 0px 8px 7px #001135;
    color: rgba(115,115,115,.9);
    font-size: 20px;
}
div#Texte {
    position: absolute;
    top: 310px;
    left: 20px;
    line-height: 15px;
    font-weight: 700;
    text-shadow: 0px 1px 0px #c7c8ca, 0px 2px 0px #b1b3b6, 0px 3px 0px #9d9fa2, 0px 4px 0px #8a8c8e, 0px 5px 0px #77787b, 0px 6px 0px #636466, 0px 7px 0px #4d4d4f, 0px 8px 7px #001135;
    color: rgba(15,15,15,.8);
}
#gauche{
	left:0;
    padding-left:10px;
    box-shadow: 1px 1px 5px 1px rgba(15,15,15,1);
}
#droite{
	right:0;
    padding-right:10px;
    box-shadow: -1px 0px 5px 1px rgba(15,15,15,1);
}
.scale{
	transform: scale(0.9);
}
@keyframes Move {
    0% {top:275px;}
    100% {  left:100%;top:265px;}
}

.false{
	display:none;
}

.true{
	display:block;
}
